.header {
    text-align: center;
    padding: 5rem;
}

.title {
    font-weight: bold;
    font-size: 3rem;
}

.subtitle {
    font-size: 1.5rem;
}

.serverPanel {
    border-radius: 0.5rem;
    overflow: hidden;
    background: #1f1f1f;
    padding: 0.5rem;
    .info {
        margin-top: 0.5rem;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p.servername {
            font-weight: bold;
            font-size: 1.25rem;
        }

        p.serverconn {
            font-weight: bold;
        }

        .buttons {
            button {
                --border: linear-gradient(to right, #f953c6, #b91d73);
                background: var(--border);
                color: white;
                padding: 0.7rem 1.5rem;
                border-style: none;
                color: var(--border);
                border-radius: 0.3rem;
                font-size: 1rem;
                transition: 0.15s;
            }

            button:hover {
                border-color: var(--border);
                background: var(--border);
                border-radius: 0.5rem;
                color: white;
            }
        }
    }
}

.previewImage {
    height: 10rem;
    width: 25rem;
    overflow: hidden;
    border-radius: 0.5rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.serversPanel {
    display: flex;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}