@import 'https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap';

html, body {
    font-family: 'Titillium Web', sans-serif;
}

html, body, #root {
    min-width: 100%;
    min-height: 100%;
}

body {
    background: linear-gradient(10deg, $bg 0%, $darkbg 100%);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Titillium Web', sans-serif;
}
