h1.error-header {
    font-size: 15em !important;
    font-weight: bold !important;
    margin: 0;

    animation: fadeText 1s;
}

h3.error-subscript {
    font-size: 2em !important;
    margin: 0;
    color: rgb(200, 200, 200);
    animation: fadeSplash 1.25s;
}

h4.error-subsubscript {
    font-size: 1.5em !important;
    margin: 0;
    margin-top: 0.5em;
    color: rgb(150, 150, 150);
    animation: fadeSplash 1.5s;
}

@keyframes fadeText {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0px);  }
}

@keyframes fadeSplash {
    0% { opacity: 0; }
    50% { opacity: 0; transform: translateY(-25px); }
    100% { opacity: 1; transform: translateY(0px); }
}
