h1.page-title {
    animation: fadeLogo 1s;
}

p.desc {
    animation: fadeSplash 1.5s;
}

div.game-btn-wrapper {
    a {
        color: #FFF;
        border-radius: 8px;

        padding: 16px 32px !important;
        transition: 0.3s;
    }

    a.gmod-btn {
        background-color: #2059f7;
        animation: fadeSplash 2s;
    }

    a.minecraft-btn {
        background-color: #2ab556;
        animation: fadeSplash 2.25s;
    }

    a.fivem-btn {
        background-color: #e67e22;
        animation: fadeSplash 2.5s;
    }

    a:hover {
        background-color: #ffffff;
        color: #000000;

        transform: scale(90%);
    }
}

@keyframes fadeLogo {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0px);  }
}

@keyframes fadeSplash {
    0% { opacity: 0; }
    50% { opacity: 0; transform: translateY(-25px); }
    100% { opacity: 1; transform: translateY(0px); }
}
