@import '../palette.scss';

h1.page-title {
    animation: fastFadeIn 1s;
}

p.desc {
    animation: fadeIn 1.5s;
}

.game-btn-wrapper {
    gap: 0.5em;

    flex-direction: column;
    align-items: center;

    a {
        color: #ffffff;
        border-radius: 0.5rem;

        padding: 16px 32px !important;
        transition: 0.3s;

        width: 100%;
    }

    a.gmod-btn {
        background-color: $gmod;
        animation: fadeIn 2s;
    }

    a.minecraft-btn {
        background-color: $minecraft;
        animation: fadeIn 2.25s;
    }

    a:hover {
        background-color: #ffffff;
        color: #000000;

        transform: scale(90%);
    }
}

@media only screen and (min-width: 75rem) {
    .game-btn-wrapper {
        flex-direction: row;
        justify-content: center;

        a {
            width: initial;
        }
    }
}
