@import '../palette.scss';

h1.page-title {
    animation: fastFadeIn 1s;
}

p.desc {
    animation: fadeIn 1.5s;
}

div.game-btn-wrapper {
    a {
        color: #ffffff;
        border-radius: 8px;

        padding: 16px 32px !important;
        transition: 0.3s;
    }

    a.gmod-btn {
        background-color: $gmod;
        animation: fadeIn 2s;
    }

    a.minecraft-btn {
        background-color: $minecraft;
        animation: fadeIn 2.25s;
    }

    a.fivem-btn {
        background-color: $fivem;
        animation: fadeIn 2.5s;
    }

    a:hover {
        background-color: #ffffff;
        color: #000000;

        transform: scale(90%);
    }
}
