h1.server-title {
    animation: fadeText 1s;
}

.gmod-title {
    color: #3498db;
    font-weight: bold;

    animation: fadeSplash 1.25s;
}

.mc-title {
    color: #2ecc71;
    font-weight: bold;

    animation: fadeSplash 1.75s;
}

.fivem-title {
    color: #e67e22;
    font-weight: bold;

    animation: fadeSplash 2.25s;
}

#gmod-table {
    animation: fadeSplash 1.5s;
}

#minecraft-table {
    animation: fadeSplash 2s;
}

#fivem-table {
    animation: fadeSplash 2.5s;
}

.server-table {
    background-color: #00000040;
    border-radius: 1rem;
    table-layout: fixed;

    tr {
        color: #FFFFFF;
        justify-content: center;

        .bad {
            color: #e74c3c;
        }

        .good {
            color: #2ecc71;
        }

        .primary {
            color: #9b59b6;
        }

        a {
            color: #9b59b6;
            text-decoration: none;
        
            transition: 0.1s;
        }        

        a:hover {
            color: #8e44ad;
        }        
    }
}

@keyframes fadeText {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0px);  }
}

@keyframes fadeSplash {
    0% { opacity: 0; }
    50% { opacity: 0; transform: translateY(-25px); }
    100% { opacity: 1; transform: translateY(0px); }
}
