.gmod-title {
    color: #3498db;
    font-weight: bold;
}

.server-table {
    background-color: #00000040;
    border-radius: 1rem;


    tr {
        color: #FFFFFF;
        justify-content: center;

        .bad {
            color: #e74c3c;
        }

        .good {
            color: #2ecc71;
        }

        .primary {
            color: #9b59b6;
        }

        a {
            color: #9b59b6;
            text-decoration: none;
        
            transition: 0.1s;
        }        

        a:hover {
            color: #8e44ad;
        }        
    }
}
