@import '../palette.scss';

h1.staff-title {
    animation: fastFadeIn 1s;
}

p.staff-desc {
    animation: fadeIn 1.5s;
}

p.applyText {
    animation: fadeIn 2s;
    color: rgb(200, 200, 200);
    strong {
        a {
            text-decoration: none;
            color: #9b59b6;
            transition: 0.3s;
        } 

        a:hover {
            color: #8e44ad;
        }
    }
}

a.apply {
    color: #ffffff;
    background-color: #9b59b6;
    padding: 1em 3em;

    border: none;
    border-radius: 0.5rem;

    animation: fadeIn 2s;
    transition: 0.3s;
}

a.apply:hover {
    background-color: #ffffff;
    color: #000000;

    transform: scale(90%);
}

.apply-wrapper {
    display: flex;
    justify-content: center;

    margin: 0;
    margin-bottom: 2em;
}

.staff-cards {
    gap: 0.5em;
    flex-direction: column;
    align-items: center;

    // Card Colors
    .card-headadmin {
        h4 { color: $headadmin; }
    }

    .card-admin {
        h4 { color: $admin; }
    }

    .card-sysadmin {
        h4 { color: $sysadmin; }
    }

    .card-srmod {
        h4 { color: $srmod; }
    }

    .card-mod {
        h4 { color: $mod; }
    }
    
    .card-dev {
        h4 { color: $developer; }
    }
    
    .card-helper {
        h4 { color: $helper; }
    }

    .card {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;

        background: transparent;
        width: 100%;


        border: 1px solid #82828280;
        border-radius: 0.5rem;

        padding: 1em;
        transition: 0.3s;

        img {
            width: 5em;
            height: 5em;

            border-radius: 50%;
            margin-right: 1em;

            transition: 0.3s;
        }

        .staff-card-info {
            display: flex;
            justify-content: center;

            flex-direction: column;
            margin: 0;

            h3 {
                color: #ffffff;

                margin: 0;
                margin-bottom: 0.3em;

                font-size: 1em;
                font-weight: bold;
                letter-spacing: 0.1em;
            }

            h4 {
                margin: 0;
                font-size: 1em;
                letter-spacing: 0.05em;
            }
        }
    }

    .card:nth-child(1) { animation: fadeIn 2.5s; }
    .card:nth-child(2) { animation: fadeIn 2.625s; }
    .card:nth-child(3) { animation: fadeIn 2.75s; }
    .card:nth-child(4) { animation: fadeIn 2.875s; }
    .card:nth-child(5) { animation: fadeIn 3.125s; }
    .card:nth-child(6) { animation: fadeIn 3.25s; }
    .card:nth-child(7) { animation: fadeIn 3.375s; }
    .card:nth-child(8) { animation: fadeIn 3.5s; }
    .card:nth-child(9) { animation: fadeIn 3.625s; }
    .card:nth-child(10) { animation: fadeIn 3.75s; }
    .card:nth-child(11) { animation: fadeIn 3.875s; }
    .card:nth-child(12) { animation: fadeIn 4s; }
    .card:nth-child(13) { animation: fadeIn 4.125s; }
    .card:nth-child(14) { animation: fadeIn 4.25s; }
    .card:nth-child(15) { animation: fadeIn 4.375s; }
    .card:nth-child(16) { animation: fadeIn 4.5; }

    .card:hover {
        background-color: #82828240;
        img {
            border-radius: 25%;
        }
    }
}

@media only screen and (min-width: 75rem) {
    .staff-cards {
        flex-direction: row;
        justify-content: center;

        .card {
            width: 25%;
        }
    }
}
