h1 {
    animation: fadeText 1s;
}

p {
    animation: fadeText 1.5s;
}

.staff-cards {
    gap: 0.5em;

    // Text IDs
    .color-red-text {
        color: #e74c3c;
    }

    .color-blue-text {
        color: #3498db;
    }

    .color-green-text {
        color: #2ecc71;
    }

    .color-primary-text {
        color: #9b59b6;
    }

    .card {
        animation: fadeSplash 1.5s;
        padding: 1em;
        display: flex;
        justify-content: flex-start;
        background: transparent;
        flex-direction: row;

        border: 1px solid #82828280;
        border-radius: 0.5rem;

        width: 25%;

        img {
            width: 5em;
            height: 5em;
            border-radius: 50%;
            transition: 0.3s;
            margin-right: 1em;
        }

        img:hover {
            border-radius: 25%;
        }

        .staff-card-info {
            justify-content: center;
            display: flex;
            flex-direction: column;
            margin: 0;

            h3 {
                margin: 0;
                margin-bottom: 0.3em;
                color: white;
                font-size: 1em;
                font-weight: bold;
                letter-spacing: 0.1em;
            }
            h4 {
                margin: 0;
                font-size: 1em;
                letter-spacing: 0.05em;
            }
        }
    }
}

@keyframes fadeText {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0px);  }
}

@keyframes fadeSplash {
    0% { opacity: 0; }
    50% { opacity: 0; transform: translateY(-25px); }
    100% { opacity: 1; transform: translateY(0px); }
}
