h1 {
    animation: fadeText 1s;
}

p {
    animation: fadeText 1.5s;
}

.staff-cards {
    gap: 0.5em;

    // Card Colors
    .color-red-text {
        color: #e74c3c;
    }

    .color-blue-text {
        color: #3498db;
    }

    .color-green-text {
        color: #2ecc71;
    }

    .color-primary-text {
        color: #9b59b6;
    }

    .card {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;

        background: transparent;
        width: 25%;


        border: 1px solid #82828280;
        border-radius: 0.5rem;

        animation: fadeSplash 1.5s;
        padding: 1em;

        img {
            width: 5em;
            height: 5em;

            border-radius: 50%;
            margin-right: 1em;

            transition: 0.3s;
        }

        img:hover {
            border-radius: 25%;
        }

        .staff-card-info {
            display: flex;
            justify-content: center;

            flex-direction: column;
            margin: 0;

            h3 {
                color: #FFFFFF;

                margin: 0;
                margin-bottom: 0.3em;

                font-size: 1em;
                font-weight: bold;
                letter-spacing: 0.1em;
            }

            h4 {
                margin: 0;
                font-size: 1em;
                letter-spacing: 0.05em;
            }
        }
    }
}

button.apply {
    animation: fadeSplash 1.3s;
    border: none;
    background-color: #9b59b6;
    border-radius: 1em;
    color: white;
    padding: 1em 3em;
    transition: 0.3s;
}

button.apply:hover {
    background-color: #8e44ad;
}

.top {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 2em;
}

@keyframes fadeText {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0px);  }
}

@keyframes fadeSplash {
    0% { opacity: 0; }
    50% { opacity: 0; transform: translateY(-25px); }
    100% { opacity: 1; transform: translateY(0px); }
}
