@import '../palette.scss';

h1.staff-title {
    animation: fastFadeIn 1s;
}

p.staff-desc {
    animation: fadeIn 1.5s;
}

a.apply {
    color: #ffffff;
    background-color: #9b59b6;
    padding: 1em 3em;

    border: none;
    border-radius: 1em;

    animation: fadeIn 2s;
    transition: 0.3s;
}

a.apply:hover {
    background-color: #ffffff;
    color: #000000;

    transform: scale(90%);
}

.apply-wrapper {
    display: flex;
    justify-content: center;

    margin: 0;
    margin-bottom: 2em;
}

.staff-cards {
    gap: 0.5em;

    // Card Colors
    .card-headadmin {
        h4 { color: $headadmin; }
    }

    .card-admin {
        h4 { color: $admin; }
    }

    .card-sysadmin {
        h4 { color: $sysadmin; }
    }

    .card-srmod {
        h4 { color: $srmod; }
    }

    .card-mod {
        h4 { color: $mod; }
    }
    
    .card-dev {
        h4 { color: $developer; }
    }
    
    .card-helper {
        h4 { color: $helper; }
    }

    .card {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;

        background: transparent;
        width: 25%;


        border: 1px solid #82828280;
        border-radius: 0.5rem;

        animation: fadeIn 2.25s;
        padding: 1em;

        img {
            width: 5em;
            height: 5em;

            border-radius: 50%;
            margin-right: 1em;

            transition: 0.3s;
        }

        .staff-card-info {
            display: flex;
            justify-content: center;

            flex-direction: column;
            margin: 0;

            h3 {
                color: #ffffff;

                margin: 0;
                margin-bottom: 0.3em;

                font-size: 1em;
                font-weight: bold;
                letter-spacing: 0.1em;
            }

            h4 {
                margin: 0;
                font-size: 1em;
                letter-spacing: 0.05em;
            }
        }
    }

    .card:hover {
        img {
            border-radius: 25%;
        }
    }
}
