.main {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #f12711, #f5af19);
    padding: 1.5em 15%;
    justify-content: space-between;
    overflow: hidden;


    .left {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;

        .links {
            margin-left: 1em;
        }
        
        .logo {
            color: white;
            font-size: 0.9rem;
            font-weight: bold;
        }
    }

    .right {
        display: flex;
    }

    .links {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;

        a {
            color: white;
            text-decoration: 0;
            padding: 1rem 1.2rem;
            transition: 0.7s;
            border-radius: 0.25rem;
            transition: 0.15s;
            font-weight: 500;
        }

        a:hover {
            background-color: rgba(0, 0, 0, 0.25);
        }

        .avtive {
            background-color: rgba(0, 0, 0, 0.25);
        }
    }
}